<div class="app-screen">
	<img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
	     alt="{{ content.field_image['#items'].alt }}" 
	     title="{{ content.field_image['#items'].title }}">
</div>