<div class="section light-bg" id="contact">
        <div class="container">
            <div class="section-title">
                <h3 class="wow slideInUp">{{content.field_title.0}}</h3>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8 contact-form mx-auto">                    
                    {{content.field_contact_form}}
                </div>                
            </div>
        </div>
    </div>    