<div class="col-12 col-lg-4">
    <div class="card features text-center wow slideInUp">
        <div class="card-body">
            <div class="feature">
                <div class="feature-body">
                    <p class="card-text"><span>{{content.field_counts.0}}</span>{{content.field_title.0}}</p>
                </div>
            </div>
        </div>
    </div>
</div>